h3
{
    font-size: 25px !important;
}

.btn-success:hover
{
    background-color: red;
}

canvas
{
    animation-name: apple_juice;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes apple_juice
{
    from{box-shadow: 1px 1px 38px blue;}
    to{box-shadow: 1px 1px 38px rgb(59, 214, 201);}
}